$maxWidth: 1306;

@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


%title {
  @include adaptive-font(48, 32);
  color: #1B1C20;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 56px;
}

%subtitle {
  font-size: 18px;
  color: #383A47;
  font-family: 'DM Sans', sans-serif;
  line-height: 26px;
}

%orange_button {
  background: #FB8E0B;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  line-height: 24px;
  border: none;
  padding: 13px;
}